body{
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
}
.search{
    margin-top: 300px;
}
span{
    background-color: rgb(189, 188, 188);
    padding: 10px 10px;
    cursor: pointer;
}
input{
    height: 37px;
    width: 180px;
  
}
.active{
    animation-name: small;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
 .normal{
    animation-name: big;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes small {
    0%{
        width:180px ;
    }
    25%{
        width: 135px;
    }
    50%{
        width:90px ;
    }
    75%{
        width: 45px;
    }
    100%{
        width:0 ;
       visibility: hidden;
    }
}

@keyframes big {
   0%{
       width:0 ;
       visibility: hidden;
   }
   25%
   {
     width: 45px;
   }
    50%{
        width:90px ;
    }
    75%{
        width: 135px;
    }
    100%{
        width:180px ;
    }
}