body{
    display: flex;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    
}
.landing-page1{
    background-image: url(/Split-Landing-Page/assets/playstation5.jpg);
    background-color: rgba(0, 0, 255, 0.449);
    background-blend-mode: multiply;   
}
.landing-page2{
    background-image: url(/Split-Landing-Page/assets/xbox.jpg);
   background-color: rgba(43, 43, 43, 0.8);
    background-blend-mode: multiply;  
}
.landing-page1,.landing-page2{
    overflow: hidden;
    background-size: cover;
    width: 100%;
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-basis: 100%;
    transition: flex-basis 0.7s ease-in-out;
}
h1{
    font-size: 64px;
     text-align: center;
    width: 435px;
    overflow: hidden;
}
button{
    width: 250px;
    height: 70px;
    background-color: transparent;
    border: 5px white solid;
    font-size: 17px;
    color: white;
    font-weight: 700;
    cursor: pointer;
}
.landing-page1 button:hover{
   background-color: rgba(76, 0, 255,1);
   border:rgba(76, 0, 255, 0.514) 5px solid ;
}

.landing-page2 button:hover{
   background-color: rgb(6, 73, 3);
   border:rgba(6,73,3) 5px solid ;
}
.landing-page1:hover{
    flex-basis: 280%;
}
.landing-page2:hover{
    flex-basis: 280%;

}


@media (max-width: 930px) {
    h1{
        font-size: 50px;
        width: 347px;
    }
    
    button{
        width: 200px;
    }
}
@media (max-width: 690px) {
    h1{
        font-size: 45px;
        width: 307px;
    }
    
    button{
        width: 180px;
    }
}
@media (max-width: 575px) {
    h1{
        font-size: 37px;
       
        width: 274px;
    }
    
    button{
        width: 180px;
    }
}
@media (max-width: 490px) {
    h1{
        font-size: 30px;
       
        width: 274px;
    }
    
    button{
        width: 170px;
        font-size: 15px;
        height: 60px;
    }
}
@media (max-width: 390px) {
    h1{
        font-size: 25px;
       
        width: 274px;
    }
    
    button{
        width: 150px;
        font-size: 13px;
        height: 55px;
    }
}
@media (max-width: 330px) {
    h1{
        font-size: 23px;
       
        width: 274px;
    }
    
    button{
        width: 140px;
        font-size: 12px;
        height: 52px;
    }
}